<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6aadbd360b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="login/styles/index.css">    
    <title>Manjit Kaur's Portfolio</title>
</head>
<body>
    <section id="head">
        <div class="navbar">
            <img src="img/graduate.svg" height="60" width="70"/><a href="#" class="logo">My Portfolio</a>
            <ul>
                <li><a href="#head">HOME</a></li>
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#services">SERVICES</a></li>
                <li><a href="#footer">CONTACT</a></li>
                <li><a href="login.html">LOGIN</a></li>
            </ul>
        </div>
        <div id="welcome">
            <h1 class="title">WELCOME</h1>
            <div class="texts">
                <h2 class="id">I am Manjit kaur and my Student ID is 301134995.</h2>
                <span class="and">&</span>
                <h2 class="name">This is my Portfolio and Web application development(COMP229) project</h2>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="about-content">
            <div class="left-side">
                <i class="fas fa-id-card"></i>
            </div>
            <div class="right-side">
                <h1 class="username">Manjit Kaur</h1>
                <p class="about-text">Hello, my name is Manjit kaur and I am currently studying in Centennial College, Canada. Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur explicabo obcaecati cumque enim quae officia necessitatibus blanditiis suscipit repudiandae voluptatibus non consectetur vitae nesciunt atque distinctio consequuntur, dolorum voluptatum numquam!</p>
            </div> 
        </div>
    </section>
    <section id="services">
        <h1 class="service-title">SERVICES</h1>
        <div class="service-box">
            <div class="service1">
                <i class="fas fa-tape"></i>
                <h3>Responsive Web Design</h3>
                <p>Responsive web design allows your website to adapt to and provide an optimal experience on any device it’s being viewed from.</p>
            </div>
            <div class="service2">
                <i class="fas fa-gem"></i<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6aadbd360b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="login/styles/index.css">    
    <title>Manjit Kaur's Portfolio</title>
</head>
<body>
    <section id="head">
        <div class="navbar">
            <img src="img/graduate.svg" height="60" width="70"/><a href="#" class="logo">My Portfolio</a>
            <ul>
                <li><a href="#head">HOME</a></li>
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#services">SERVICES</a></li>
                <li><a href="#footer">CONTACT</a></li>
                <li><a href="login.html">LOGIN</a></li>
            </ul>
        </div>
        <div id="welcome">
            <h1 class="title">WELCOME</h1>
            <div class="texts">
                <h2 class="id">I am Manjit kaur and my Student ID is 301134995.</h2>
                <span class="and">&</span>
                <h2 class="name">This is my Portfolio and Web application development(COMP229) project</h2>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="about-content">
            <div class="left-side">
                <i class="fas fa-id-card"></i>
            </div>
            <div class="right-side">
                <h1 class="username">Manjit Kaur</h1>
                <p class="about-text">Hello, my name is Manjit kaur and I am currently studying in Centennial College, Canada. Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur explicabo obcaecati cumque enim quae officia necessitatibus blanditiis suscipit repudiandae voluptatibus non consectetur vitae nesciunt atque distinctio consequuntur, dolorum voluptatum numquam!</p>
            </div> 
        </div>
    </section>
    <section id="services">
        <h1 class="service-title">SERVICES</h1>
        <div class="service-box">
            <div class="service1">
                <i class="fas fa-tape"></i>
                <h3>Responsive Web Design</h3>
                <p>Responsive web design allows your website to adapt to and provide an optimal experience on any device it’s being viewed from.</p>
            </div>
            <div class="service2">
                <i class="fas fa-gem"></i>
                <h3>Amazing Themes</h3>
                <p>Our themes are updated regularly to keep them bug free!</p>
            </div>
            <div class="service3">
                <i class="fas fa-laptop-code"></i>
                <h3>Up to Date</h3>
                <p>All dependencies are kept current to keep things fresh.</p>
            </div>
            <div class="service4">
                <i class="fas fa-globe"></i>
                <h3>Ready to Publish</h3>
                <p>You can use this design as is, or you can make changes!</p>
            </div>
        </div>
    </section>
    <section id="footer">
        <div class="footer-content">
            <p><i class="fas fa-copyright"></i> Copyright 2020</p>
        </div>
        <div class="buttons">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
        </div>
        <a class="return" href="#head">Top</a>
    </section>
</body>
</html>